body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#import {
  display: none;
}

aside {
  background-color: #dfdfdf;
}

.node-data {
  margin: 5px;
}

button,
.import {
  font-size: 14px;
  margin: 2px;
  padding: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 5px;
  border: 2px purple solid;
  background-color: #eeeeee;
}

.graph {
  display: grid;
  grid-template-columns: auto 200px;
}

#cy {
  height: 98vh;
  background-color: #eeeeee;
}

#edit-node {
  display: grid;
  grid-template-columns: auto;
}
